fastapi
uvicorn[standard]
beanie
pydantic
loguru
pre-commit
pytest
httpx
pymongo
annotated-types
anyio
certifi
cfgv
click
distlib
fastapi
filelock
h11
httpcore
httptools
httpx
identify
idna
iniconfig
loguru
nodeenv
packaging
platformdirs
pluggy
pre_commit
pydantic
pydantic_core
Pygments
pytest
python-dotenv
PyYAML
sniffio
SQLAlchemy
sqlmodel
starlette
typing-inspection
typing_extensions
uvicorn
uvloop
virtualenv
watchfiles
websockets
